

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Arial";
  font-weight: 500;
  background-color: rgb(134, 119, 119);
  color: rgb(209, 89, 89);
  font-weight: bold;
}
.container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site_header {
  display: flex;

  background-color: #ccc;
}
.header-list {
  display: flex;
  margin-left: -20px;
  margin-left: auto;
}
.header-list li{
  margin-left: 20px;
  list-style: none;
}
.btn {
  background-color: transparent;
  display: none;
  border: none;
}
@media only screen and (max-width: 700px){
  .header-list {
    display: none;
  }
  .btn {
    display: block;
    margin-left: auto;
  }
}


